name: release artifact

on:
  push:
    branches-ignore:
      - "**"
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "22.18.0"
          cache: "yarn"
      - name: intall deps
        run: yarn install --check-files
      - name: package
        run: yarn package
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            package.zip
